.header {
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  .header > h2 {
    padding: 20px; }

body {
  background-repeat: no-repeat; }
