.header {
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  .header .logo-header {
    padding: 10px 0 0 10px; }
    .header .logo-header > img {
      max-height: 150px;
      max-width: 150px; }

.logo-hero > img {
  margin: auto;
  max-width: 300px;
  max-height: 300px; }

body {
  background-repeat: no-repeat; }
