.boxShadow {
  box-shadow: 2.972px 18.766px 46.92px 4.08px rgba(0, 0, 0, 0.25); }

.header {
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  .header .logo-header {
    padding: 10px 0 0 10px; }
    .header .logo-header > img {
      max-height: 150px;
      max-width: 150px; }

.hero {
  height: 100vh; }
  .hero .logo-hero {
    padding: 16vh 0 0 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    align-content: center; }
    .hero .logo-hero > img {
      margin: auto;
      max-width: 300px;
      max-height: 300px; }
  .hero .heading {
    text-align: center; }

.aboutUsHome {
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 30px; }

body {
  background-repeat: no-repeat; }
